# Object files
*.o
*.pyc
sip*.*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
components/curveanalyzer/test/test

# Directories
.ropeproject
components/curveanalyzer/.ropeproject
