# Object files
*.o
*.pyc
sip*.*
*.exp
*.sbf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
test

# Directories
.ropeproject
components/curveanalyzer/.ropeproject

Makefile
