# Object files
*.o
*.pyc
components/curveanalyzer/sip*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Directories
.ropeproject
components/curveanalyzer/.ropeproject
